a {
    color:coral;
}
a:active {
    color:crimson;
}
.selector {
    color:crimson
}
#selc {
    color:#2F4F4F;
}
.margin {
    margin:30px;
} /* отступы всего кода от со всех сторон на 30 единиц */
.padding {
    padding:50px;
} /* отступы фоток от верхнего и нижнего блока кода, так и различаются margin и padding,
тем что маргин это отступ от всех границ, а с помощью паддинг мы редактируем положение блока кода на страницу*/

/* внешние стили, подключали через link */

/* a - селекторы по имени тега */

/* #selk - селекторы по ид, решетка в начале определяет ид */

/* .selector - селектор по именни класса */

/* a и a:active это разные состояния тега, то есть когда
мы нажимаем на ссылку, то она становится другого цвета, а если нет, то другого */